@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.back:hover {
  transition: all 0.3s;
  transition-delay: 0.6s, 0.9s;
  transition-property: width, height;
  /* border-left: 1px solid white; */
  border-right: 1px solid rgb(85, 83, 83);
  /* border-bottom: 1px solid white; */
  border-top: 1px solid rgb(85, 83, 83);
}
.back:hover {
  transition: all 0.3s;
  transition-delay: 0.6s, 0.9s;
  transition-property: width, height;
  border-left: 1px solid rgb(85, 83, 83);
  /* border-right: 1px solid white; */
   border-bottom: 1px solid rgb(85, 83, 83); 
  /* border-top: 1px solid white; */
}